body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

h1,
h2,
h3,
p {
  margin: 0;
}